@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import "partials/_variables";
@import "partials/_mixins";
@import "partials/_common";

header {
    padding-top: $verticalPadding;
    text-align: center;
    background: #fff;

    .header-bottom {
        margin-top: 20px;

        .list-inline a {
            display: inline-block;
            padding: 15px 10px;
            transition: all 0.3s;
            &.active {
                background: $mainColor;
            }
            &:hover {
                background: $mainColor;
            }
        }
    }
}

main {
    &#main-home {
        background: url("../img/fondo-pag-speciali.jpg");
        @include backgroundDefault;
        @include darkLayover;
    }
    
    padding: $verticalPadding $horizontalPadding;
    color: $textColor;

    section {
        margin: 20px 0;

        .cards {
            display: flex;
            flex-wrap: wrap;

            .card {
                width: calc(100% / 3 - 10px);
                margin: 5px;
                @include cardLayover;
            }
        }
    }
}

footer {
    display: flex;
    padding: $verticalPadding $horizontalPadding;
    color: $footerColor;

    .footer-item {
        width: calc(100% / 3 - 20px);
        margin: 0 10px;

        .footer-title {
            margin: 15px 0;
        }

        a {
            display: inline-block;
            margin: 5px 0;
            font-weight: 700;
        }
    }
}
